/* making completed task color green*/
.completed {
  text-decoration: line-through;
  color: green;
}

/*making pending task color yellow*/
li span.pending {
  color: orange;
}

/* priority status colors*/
.low-priority {
  color: lightblue;
}

.medium-priority {
  color: yellow;
}

.high-priority {
  color: red;
}
